@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar fonte Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fontes/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fontes/Montserrat/static/Montserrat-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fontes/Montserrat/static/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fontes/Montserrat/static/Montserrat-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  background: linear-gradient(270deg, #1e3a8a, #9333ea, #f59e0b, #10b981);
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
}
